@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Hello! Search for Person of the Year HERE!</h1>
    <form method="post">
        <label name="StartYear">Start year:</label>
        <input type="number" name="StartYear" />

        <label name="EndYear">End year:</label>
        <input type="number" name="EndYear" />

        <button type="submit">Search!</button>
    </form>
</body>
</html>